mixin f1driver(data)
    .driver(id=data.name)
        .name #{data.name}
            .underline(style="background-color: " + data.color)
        img.logo(src="/img/f1drivers/" + data.photo alt="")
        h3 #{data.photoSrc}
        div.help
            .achievements
                .achievement
                    .icon
                        img(src='../img/icons/trophy.png' alt='trophy')
                    p #{data.driverChampionships}
                .achievement
                    .icon
                        img(src='../img/icons/gold-medal.png' alt='gold-medal')
                    p #{data.wins}
                .achievement
                    .icon
                        img(src='../img/icons/podium.png' alt='podium')
                    p #{data.podiums}
                .achievement
                    .icon
                        img(src='../img/icons/pole.png' alt='pole')
                    p #{data.polePositions}
            #numberAndTeam 
                #number(style=`color: ${data.color};`) ##{data.number}
                a#team(href='/f1/teams#' + data.team, style=`border-bottom: 3px solid ${data.color};`) #{data.team}
        .infos
            .info
                p Kraj: 
                    b #{data.nation}
            .info
                p Wiek:
                    b #{data.age}
            .info
                p
                    b #{data.previousAchievement}
            if data.previousTeams 
                .info
                    p Zespoły: 
                    each val in data.previousTeams 
                        b.previousTeam #{val}

            if data.funFacts
                .info 
                    p Ciekawostki:
                    each val in data.funFacts 
                        p #{ val }