mixin f1team({name, shortName, color, teamLogo, teamLogoSrc, constructorChampionships, wins, podiums, polePositions, driverA, driverB, nation, home, boss, engine, others, beforeAs, thirdDrivers, debut, teamPhoto, teamPhotoSrc })
    .team(id= shortName)
        h2.name #{name}
            .underline(style='background-color: ' + color)
        img.logo(src='../img/f1teams/' + teamLogo alt=teamLogoSrc)
        h3 #{teamLogoSrc}
        div.help
            .achievements
                .achievement
                    .icon
                        img(src='../img/icons/trophy.png' alt='trophy')
                    p #{constructorChampionships}
                .achievement
                    .icon
                        img(src='../img/icons/gold-medal.png' alt='gold-medal')
                    p #{wins}
                .achievement
                    .icon
                        img(src='../img/icons/podium.png' alt='podium')
                    p #{podiums}
                .achievement
                    .icon
                        img(src='../img/icons/pole.png' alt='pole')
                    p #{polePositions}

            #drivers
                p Kierowcy:
                a(href="/f1/drivers#" + driverA, style='border-bottom: 3px solid' + color) #{driverA }
                a(href="/f1/drivers#" + driverB, style='border-bottom: 3px solid' + color) #{driverB }
        .infos
            .info
                p Kraj: 
                    b #{nation}

            .info
                p Siedziba: 
                    b #{home }

            if boss
                .info
                    p Szef zespołu: 
                        b #{boss }

            .info
                p.bold #{ others }

            .info
                p Dostawca silników:
                    b #{engine }
            if beforeAs
                .info
                    p W przeszłości jako: 
                    each val in beforeAs
                        p.bold #{ val }
            .info 
                p Trzeci kierowcy: 
                each val in thirdDrivers 
                    p.bold #{val}
                    
            .info
                p Debiut: 
                    b #{debut }
            
        img.classPhoto(src='../img/f1teams/' + teamPhoto alt=teamPhotoSrc)
        h3 #{teamPhotoSrc}
