extends layout

block css
        link(rel='stylesheet' href='/STYLE/style_article.css')

block title
 title #{article.title} - F1podlupą.pl
block content
    #main
        #article

            h1#title #{article.title}

            p#author #{article.author}, #{article.date}

            p#short #{article.short}

            img#cover.cover(src='/upload/' + article.ID + '/cover.webp') 

            p#text #{article.body}
        #seeAlso
            .con-title Zobacz także
            
            each val in articles
                a.square(href="/article/" + val.ID)
                    img.img.cover(src='/upload/' +val.ID + '/cover.webp' alt='')
                    .notImg
                        .title=  val.title 
                        .text= val.short
                        .next Czytaj dalej -->



block scripts
    script(src='/js/artykul_text.js')

