extends layout

block css
        link(rel='stylesheet' href='/css/article_site.css')
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
block title
 title #{article.title} - F1podlupą.pl

block content
    include views_components/see_more


    #main
        #article

            h1#title #{article.title}
            case article.section
                when "f1"
                    .underline#f1
                when "f2"
                    .underline#f2
                when "fe"
                    .underline#fE
                when "f1basics"
                    .underline#f1Basics
                when "rallycross"
                    .underline#rallycross
                when "other"
                    .underline#other
         

            p.author #{article.author}, #{article.date}

            p#short #{article.short}

            img#cover.cover(src='/upload/' + article.ID + '/cover.webp' alt='cover') 

            div#text
                 
            case article.section
                    when "f1"
                        .underline#f1.bottomUnderline
                    when "f2"
                        .underline#f2.bottomUnderline
                    when "fe"
                        .underline#fE.bottomUnderline
                    when "f1basics"
                        .underline#f1Basics.bottomUnderline
                    when "other"
                        .underline#other.bottomUnderline
                    when "rallycross"
                        .underline#rallycross.bottomUnderline
            p.author#bottomAuthor(style="text-align: end;") Autor: #{article.author}
            .navAfterArticle
                a(href="/")
                    i.fas.fa-chevron-left
                    p Strona główna
                +see_more(article.section)

        #seeAlso
            .con-title Zobacz także
            .squares
                each val in articles
                    +small_article(val)


block scripts
    script(src='/js/artykul_text.js')
